# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
frontend/build/
frontend/node_modules/

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Misc
*.local
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Backend
backend/node_modules/
backend/.env
backend/.env.* 